<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

<nav class="navbar-default">
    <div>
        <div class="home-href">
            <a href="/">小圈子</a>
        </div>

        <div>
            <ul>
                <li>
                    <a href="/">網站首頁</a>
                </li>
                <li>
                    <a href="/help.html">網站幫助</a>
                </li>
                <li>
                    <a href="/login.html">登錄賬戶</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <aside>
        <section class="user_info">
            <h1 th:text="${userId}"></h1>
        </section>
    </aside>
</div>

<footer class="footer">
    <small>
        本項目由<span style="color:blue"><a href="/about.html">wbs</a></span>邊學邊練跑起來的，僅做測試使用
    </small>
    <nav>
        <ul>
            <li>
                <a href="/about.html">關於</a>
            </li>
            <li>
                <a href="/contact.html">聯繫</a>
            </li>
        </ul>
    </nav>
</footer>


<script>


var user = document.cookie

$(document).ready(function(){
    $("#userId").text(user);
});

console.log(user);
</script>


</body>

</html>
