<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>一個小圈子</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/css/index.css" rel="stylesheet" style="text/css">
</head>

<body>

<!-- 引入頭部 -->
<div th:replace="header :: header"></div>

<div>
    <div th:unless="${session.user == null}">
        <p th:text="username: + ${session.user.username}"></p>
        <p th:text="create time: + ${session.user.crtTime}"></p>
    </div>

    <div th:if="${session.user == null}">
        register: <a th:href="@{/register}">click me!</a><br>
        login: <a th:href="@{/login}">click me!</a>
    </div>
</div>

<!-- 引入頁腳 -->
<div class="footer" th:replace="footer :: footer"></div>

</body>

</html>
