<!DOCTYPE html>
<html>

<head>
    <title>一個小圈子</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="header"></div>
    <nav class="navbar-default">
        <div>
            <div class="home-href">
                <a href="/">小圈子</a>
            </div>

            <div>
                <ul>
                    <li>
                        <a href="/">網站首頁</a>
                    </li>
                    <li>
                        <a href="/help.html">網站幫助</a>
                    </li>
                    <li>
                        <a href="/login.html">登錄賬戶</a>
                    </li>
                    <li>
                        <a href="/users.html">用戶列表</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="master-page">
        <h1 class="h1-size">歡迎來到測試網站</h1>
        <h2>可以進行註冊體驗一下，並希望您能給出寶貴的建議和意見</h2>
        <div class="signup-style">
            <a href="/signup.html">註冊</a>
        </div>
    </div>

    <footer class="footer">
        <small>
            本項目由<span style="color:blue"><a href="/about.html">wbs</a></span>邊學邊練跑起來的，僅做測試使用
        </small>
        <nav>
            <ul>
                <li>
                    <a href="/about.html">關於</a>
                </li>
                <li>
                    <a href="/contact.html">聯繫</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>

</html>
