<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/index.css" rel="stylesheet" style="text/css">
</head>

<body>

<div th:replace="header :: header"></div>

<div>
    <form action="/login" method="post">
        <label>please entry E-mail:</label><br>
        <input type="email" name="email" id="userEmail"><br>
        <label>please entry password:</label><br>
        <input type="password" name="password"><br>
        <input type="submit" value="log in">
    </form>
</div>

<div th:replace="footer :: footer"></div>

<script>


</script>

</body>
</html>