<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>一個小圈子</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/css/index.css" rel="stylesheet" style="text/css">
</head>

<body>

<div th:replace="header :: header"></div>

<div>
    <p id="test">test</p>
    <button type="button" onclick="top1()" value="click!"></button>
</div>

<div th:replace="footer :: footer"></div>

<script>
    function top1() {
        document.getElementById("test").innerHTML="11111";
    }
</script>

</body>

</html>