<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>users</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="resources/static/css/users.css" rel="stylesheet">
</head>

<body>

<div>
    <h1>所有用戶</h1>
    <ol th:each="user:${usersPageInfo.getList()}">
        <li th:text="${user.name}"></li>
    </ol>

    <ol style="list-style-type: none">
        <li th:if="${usersPageInfo.hasNextPage}">
            <a th:href="'/users?pageNum=' + ${usersPageInfo.nextPage}">-></a>
        </li>
    </ol>
</div>

</body>

</html>