<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>一個小圈子</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/css/index.css" rel="stylesheet" style="text/css">
</head>

<body>

<div th:replace="header :: header"></div>

<div>
    <h1>所有用戶</h1>
    <ol>
        <li id="users" th:each="user : ${tmp}">
            <img src="/images/images.jpeg" height="50" width="50">
            <p th:text="${user.id} + ': ' + ${user.name}"></p>
        </li>
    </ol>

</div>

<div th:replace="footer :: footer"></div>

<script>
    window.onload=function() {

        var url = '/users';
        $.ajax({
            type: 'GET',
            url: url,
            success: function(result) {

            },
            error: function() {
                swal({
                    title: '操作錯誤',
                    icon: 'error'
                });
            }
        });
    }
</script>

</body>

</html>